@{
    var categories = ViewData["Categories"] as List<Category>;
}
<header>
    <div class="container-fluid">
        <div class="row py-3 border-bottom">
            <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                    <a href="/Home/Index">
                        <img src="~/img/logo.jpg" style="max-width:250px;height: auto;" alt="logo" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5">
                <div class="search-bar row bg-light p-2 my-2 rounded-4">
                    <div class="col-md-4 d-none d-md-block">
                        <select class="form-select border-0 bg-transparent" id="category-select" name="category">
                            <option value="">Tüm Kategoriler</option>
                            @if (categories != null && categories.Any())
                            {
                                foreach (var category in categories)
                                {
                                    <option value="@category.Name">@category.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">Kategori yok</option>
                            }
                        </select>
                    </div>
                    @* <div class="col-md-4 d-none d-md-block"> *@
                    @*     <select class="form-select border-0 bg-transparent" id="category-select" name="category"> *@
                    @*         <option value="">Tüm Kategoriler</option> *@
                    @*         <option value="Kedi">Kedi</option> *@
                    @*         <option value="Köpek">Köpek</option> *@
                    @*         <option value="Kuş">Kuş</option> *@
                    @*         <option value="Akvaryum">Akvaryum</option> *@
                    @*         <option value="Hamster ve Tavşan">Hamster ve Tavşan</option> *@
                    @*     </select> *@
                    @* </div> *@
                    <div class="col-11 col-md-7" id="search-container" style="display: none; display: flex; align-items: center;">
                        <form id="search-form" asp-action="Search" asp-controller="Home" method="POST" class="w-100 d-flex">
                            <input type="text" class="form-control border-0 bg-transparent login-link" placeholder="Ara..." name="query" id="search-input" />
                            <button type="submit" class="btn border-0 bg-transparent p-0 ms-2" style="cursor: pointer;">
                                <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="cursor: pointer;" class="login-link">
                                    <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
                @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                {
                    <div class="d-lg-none">
                        <a class="nav-link rounded-circle bg-light p-2 mx-1 login-link" asp-controller="Account" asp-action="Manage">@User.Identity.Name</a>
                    </div>
                    <div class="d-lg-none">
                        <a href="/Account/Logout" class="rounded-circle bg-light p-1 mx-1 login-link">
                            <svg width="30" height="30" viewBox="0 0 30 30"><use xlink:href="#user"></use></svg>
                        </a>
                    </div>
                    <div class="d-lg-none">
                        <a href="/Cart/Index" class="rounded-circle bg-light p-1 mx-1 login-link">
                            <svg width="30" height="30" viewBox="0 0 30 30"><use xlink:href="#cart"></use></svg>
                        </a>
                    </div>
                }
                else
                {
                    <div class="d-lg-none">
                        <a href="/Account/Login" class="rounded-circle bg-light p-2 mx-1 login-link">
                            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#user"></use></svg>
                        </a>
                    </div>
                }
                <div class="support-box text-end d-none d-xl-block ">
                    <span class="fs-6 text-muted login-link">Destek Hattı</span>
                    <h5 class="mb-0 login-link"> <a class="nav-link" asp-controller="Home" asp-action="Index">44045480</a></h5>
                </div>
                <div class="support-box text-end d-none d-xl-block ">
                    <ul class="d-flex justify-content-end list-unstyled m-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.Identity.Name != "admin")
                            {
                                <div class="support-box text-end d-none d-xl-block">
                                    <span class="fs-6 text-muted login-link align-items-center">Hoşgeldiniz!</span>
                                    <h5 class="mb-0 login-link"> <a class="nav-link" asp-controller="Account" asp-action="Manage">@User.Identity.Name</a></h5>
                                </div>
                            }
                            <li>
                                <a class="rounded-circle  p-2 mx-1 login-link">
                                    <svg width="24" height="24" viewBox="0 0 24 24"></svg>
                                </a>
                            </li>
                            <li>
                                <span>
                                    <a href="/Cart/Index" class="rounded-circle bg-light p-2 mx-1 login-link d-flex flex-column">
                                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cart"></use></svg>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <a href="/Account/Logout" class="rounded-circle bg-light p-2 mx-1 login-link d-flex flex-column">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#user"></use></svg>
                                </a>
                            </li>
                            <div class="d-lg-none">
                                <a href="/Shop/List" class="rounded-circle bg-light p-2 mx-1 login-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cart"></use></svg>
                                </a>
                            </div>
                        }
                        else
                        {
                            <li>
                                <a href="/Account/Login" class="rounded-circle bg-light p-2 mx-1 login-link">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#user"></use></svg>
                                </a>
                            </li>
                            <li class="d-lg-none">
                                <a href="/Account/Login" class="rounded-circle bg-light p-2 mx-1 login-link">
                                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#user"></use></svg>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
        document.addEventListener("DOMContentLoaded", function() {
        const categorySelect = document.getElementById("category-select");
        const searchInput = document.getElementById("search-input");
        const searchForm = document.getElementById("search-form");


        categorySelect.addEventListener("change", function() {

            const category = categorySelect.value;
            const query = searchInput.value;

            if (!document.getElementById("category-hidden")) {
                const categoryHidden = document.createElement("input");
                categoryHidden.type = "hidden";
                categoryHidden.name = "category";
                categoryHidden.id = "category-hidden";
                categoryHidden.value = category;
                searchForm.appendChild(categoryHidden);
            } else {
                document.getElementById("category-hidden").value = category;
            }
        });
    });
    document.querySelector('.d-lg-none a[href="/Home/Search"]').addEventListener('click', function(event) {
        event.preventDefault();
        var searchContainer = document.getElementById('search-container');
        var searchInput = document.getElementById('search-input');

        if (searchContainer.style.display === "none" || searchContainer.style.display === "") {
            searchContainer.style.display = "flex";
            searchInput.focus();
        } else {
            searchContainer.style.display = "none";
        }
    });
    document.getElementById('search-input').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            document.getElementById('search-form').submit();
        }
    });
    function updateCartTotal() {
        $.ajax({
            url: '/Cart/GetTotalPrice',  // Controller'daki GetTotalPrice metoduna istek gönderiyoruz
            method: 'POST',
            success: function (data) {
                // Fiyatı, cartTotal öğesine güncelliyoruz
                $('#cartTotal').text('₺' + data.toFixed(2)); // Fiyatı iki ondalıklı formatta güncelliyoruz
            }
        });
    }
    // Sayfa yüklendiğinde ilk fiyatı alalım
    $(document).ready(function() {
        updateCartTotal();
    });
</script>


<style>
    #search-container {
        display: none;
        flex: 1;
    }

    .login-link:hover {
        color: red;
    }

    #search-icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
</style>
