@model ProductListModel
@{
    ViewData["Title"] = "Homepage";
}

<div id="background" class="background">
    <div id="clickHereMessage"></div>
</div>

<div id="mainContent" class="d-none">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
            <partial name="_slider" />
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                @await Component.InvokeAsync("CategoryList")
            </div>
            <div class="col-md-9">
                <div class="row">
                    @if (Model.Products != null && Model.Products.Count > 0)
                    {
                        @foreach (Product product in Model.Products)
                        {
                            <partial name="_products" for="@product" />
                        }
                    }
                    else
                    {
                        <p>Ürün Bulanamadı.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url('/img/Paw.jpg');
        background-size: contain;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        z-index: 10000;
        cursor: pointer;
        transition: opacity 1s ease;
    }

    #clickHereMessage {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 30px;
        color: red;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .background:hover #clickHereMessage {
        opacity: 1;
    }

    .d-none {
        display: none;
    }
</style>

<script>
    window.onload = function() {
        document.getElementById("background").addEventListener("click", function() {
            document.getElementById("background").style.opacity = 0;

            setTimeout(function() {
                document.getElementById("background").style.display = "none";
                document.getElementById("mainContent").classList.remove("d-none");
            }, 1000);
        });
    }
</script>
