@model CategoryListViewModel
<section class="py-5 overflow-hidden" id="category-carousel-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Kategoriler</h2>
                    <div class="d-flex align-items-center">
                        <div class="swiper-buttons">
                            <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="category-carousel swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Categories)
                        {
                            <a asp-controller="Shop" asp-action="List" asp-route-category="@item.Name.ToLower()" class="nav-link category-item swiper-slide @(Model.SelectedCategory== item.Name.ToLower() ? "active" : "")">
                                <img src="@Url.Content("~/img/" + item.Icon)" alt="Category Thumbnail" class="category-icon">
                                <h3 class="category-title">@item.Name</h3>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var swiper = new Swiper('.category-carousel', {
            loop: true, 
            slidesPerView: 5, 
            spaceBetween: 10, 
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            breakpoints: {
                1200: {
                    slidesPerView: 5, 
                },
                992: {
                    slidesPerView: 4, 
                },
                768: {
                    slidesPerView: 3, 
                },
                576: {
                    slidesPerView: 2, 
                },
                0: {
                    slidesPerView: 1, 
                }
            }
        });
    });
</script>
